<span class='dropdown'>
   <a href="#" class="dropdown-toggle" data-toggle="dropdown"> relocate <b class='caret'></b> </a>
   <ul class='dropdown-menu bg-gray-lighter-no-pad'>
      <% @apartments.delete_if { |a| tenant.lives_in?(a) }.each do |a| %>
      <li>
      <%= link_to a.number, 
            relocate_apartment_tenant_path(apartment, tenant, new_apartment_id: a.id), 
            method: :patch, data: { confirm: "Really relocate tenant?" } %>
      </li>
      <% end %>
   </ul>
</span>
