<table class='display data-table-gem'>
<thead>
   <tr>
      <th class="not-sortable"> <input type="checkbox" id="select-all-entries-toggle" /> </th>
      <th> Name </th>
      <th> Email </th>
      <th> Primary Phone # </th>
      <th> Secondary Phone # </th>
      <th> Roles </th>
      <th class="not-sortable"></th> <!-- Edit column -->       
   </tr>
</thead>
<tbody>
   <%= render @users %>
</tbody>
</table>
