<% provide(:title, "Schedule Index") %> 

<table class='display data-table-gem'>
   <thead>
      <tr>
         <th> Year </th>
         <th> Month </th>
      </tr>
   </thead>

   <tbody>
      <%= render @schedules %>
   </tbody>
</table>
