- provide(:title, "Schedule Index")

%h2 Schedules

%table.display.data-table-gem
   %thead
      %tr
         %th Year
         %th Month
         %th.not-sortable

   %tbody
      = render @schedules
