@import "bootstrap";
/* To fix bootstrap problem where body goes into header. */
body {
   padding-top: 60px;
   padding-bottom: 40px;
}
@import "bootstrap-responsive";

$grayMediumLight: #eaeaea;


/* forms */

#error_explanation {
   color: #f00;
   ul {
      list-style: none;
      margin: 0 0 18px 0;
   }
}

.field_with_errors {
   @extend .control-group;
   @extend .error;
   .error {
      margin-left: 5px;
      color: #D00;
   }
}

div.input {
   margin-bottom: 15px;
}

/* end forms */


// Adds scroll bar to menu if too long.
.dropdown-menu-long {
   max-height: 300px;
   overflow-y: auto;
}



.bg-gray-lighter {
   background: $grayLighter;
   padding: 15px;
}

.bg-gray-lighter-no-pad {
   background: $grayLighter;
}


.row-with-margin {
   @extend .row;
   margin-top: 20px;
}

.collection-list {
   list-style: none;
   > li { // the > means only immediate children. I.E only immediate <li> children of .collection-list.
      margin-left: -20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $grayLight;
   }
}

ul#tenants {
   @extend .collection-list;
}

@import "schedules";
