<li>
<p><%= content_tag(:strong, tenant.name) %></p>
<p><%= "Email: #{tenant.email}" %></p>
<p><%= "Primary #: #{tenant.phone_primary}" %></p>
<p><%= "Secondary #: #{tenant.phone_secondary}" %></p>
</li>
