<table class="display data-table-gem">
<thead>
   <tr>
      <th class="not-sortable"> <input type="checkbox" id="select-all-entries-toggle" /> </th>
      <th class="num-html"> # </th>
      <th> Status </th>
      <th> Since </th>
      <th> Comment </th>
      <th class="not-sortable"></th> <!-- Edit column -->       
   </tr>
</thead>
<tbody>
   <%= render @apartments %>
</tbody>
</table>
