<span id='main-flash-messages'>
<% flash.each do |type, msg| %>
   <%= content_tag(:div, class: "alert alert-#{type}") do %> 
      <%= msg %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
   <% end %>
<% end %>
</span>
